/*============== header css =============*/

.active{
  color: #fab915 !important; 
}
.navbar .menu_nav .nav-item:hover .nav-link, .navbar .menu_nav .nav-item.active .nav-link {
  color: #fab915;
}


.header_area {
    
    position: absolute !important;;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
   
  }
  
  .navbar {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px ;
  }
  
  .navbar {
    background: #fff;
    padding: 0px 25px;
  }
  
  .navbar .logo_h {
    padding-top: 0px;
  }
  
  .navbar .menu_nav .nav-item .nav-link {
    font: 500 13px/80px "Poppins", sans-serif;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    padding: 0px;
  }
  
  .navbar .menu_nav .nav-item .nav-link:after {
    display: none;
  }
  

  
  .navbar .menu_nav .nav-item.submenu {
    position: relative;
  }
  
  .navbar .menu_nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0px;
    background: transparent;
  }
  
  @media (min-width: 992px) {
    .navbar .menu_nav .nav-item.submenu ul {
      position: absolute;
      top: 100%;
      left: 0px;
      min-width: 220px;
      text-align: left;
      opacity: 0;
      -webkit-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      visibility: hidden;
      display: block;
      border: none;
      padding: 0px;
      border-radius: 0px;
    }
  }
  
  .navbar .menu_nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
  }
  
  .navbar .menu_nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  
  @media (min-width: 992px) {
    .navbar .menu_nav .nav-item.submenu ul .nav-item {
      margin-top: 10px;
    }
  }
  
  .navbar .menu_nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #222222;
    padding: 0px 30px;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    display: block;
  }
  
  .navbar .menu_nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none;
  }
  
  .navbar .menu_nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: #f0f0f0;
    color: #fab915;
  }
  
  @media (min-width: 992px) {
    .navbar .menu_nav .nav-item.submenu:hover ul {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .navbar .menu_nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px;
  }
  
  .navbar .menu_nav .nav-item + li {
    margin-left: 30px;
  }
  
  .navbar_fixed {
    position: fixed;
    width: 100%;
    left: 0;
    background: #fff;
    top: 0;
    top: -50px;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
  }
  
  .navbar_fixed .navbar {
    background: transparent;
  }


@media (max-width: 1480px){
    .navbar .menu_nav .nav-item.submenu ul{
        left: auto;
        right: 0;
    }
}
@media(max-width: 1199px){
}
@media(max-width: 991px){
	.navbar-toggler{
		border: none;
		border-radius: 0px;
		padding: 0px;
		cursor: pointer;
		margin-top: 20px;
		margin-bottom: 20px;
	}
    .navbar{
        padding: 0px 15px;
    }
	.header_area .navbar-brand {
		padding-top: 0px;
	}
	.navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #fab915;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .menu_nav .nav-item{
        z-index: 1;
    }
	.navbar .menu_nav .nav-item .nav-link {
        line-height: 36px;
		padding: 0px;
        position: relative;
	}
    .navbar .menu_nav .nav-item.dropdown:after{
        display: inline-block;
        content: "\e874";
        font-family: 'Linearicons-Free';
        font-size: 13px;
        color: #777777;
        top: 0px;
        height: 100%;
        line-height: 36px;
        border: 0px;
        position: absolute;
        right: 0px;
        z-index: -1;
    }
    .navbar .menu_nav .nav-item.dropdown.show:after,.navbar .menu_nav .nav-item.dropdown:focus:after{
        color: #52c5fd;
        outline: none;
    }
	.navbar .menu_nav .nav-item + li {
		margin-left: 0px;
	}
	.navbar-collapse {
		max-height: 288px;
		overflow-y: scroll;
	}

}
  