 <header class="header_area" >
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand logo_h fw-bold" href="#">Hôtel <span class="text-yellow"> Paradis</span></a>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ms-auto" >
            <li class="nav-item "><a class="nav-link "  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/home" >Home</a></li>
            
            <li class="nav-item submenu dropdown" routerLinkActive="active">
              <a href="#" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Recherche</a>
              <ul class="dropdown-menu" >
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home/rooms">Chambre 4 personnes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Chambre 2 personnes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Suites</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link"  routerLinkActive="active"  routerLink="/home/restaurant" >Restauration</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Spa & Bien-être</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home/contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Mentions légales</a></li>
            <li class="nav-item">
              <a class="nav-link " href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                </svg>
                Login
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</header>

<app-modal-login></app-modal-login>

<app-modal-reset></app-modal-reset>
