
  /*=========== breadcrumb_area css =============*/
  .breadcrumb_area {
      height: 50%;
  }

  .breadcrumb_area .bg-parallax {
      background: url("https://hotelina-nextjs.vercel.app/_next/static/media/inner-banner.b95a4da7.png") no-repeat scroll center 0/cover;
      opacity: 0.50;
      z-index: -1;

  }

  .page-cover-tittle {
      padding-top: 4%;
  }