<div class="container">
  <div class="row mt-5">
    <div class="d-flex">
      <mat-card-title>Utilisateurs</mat-card-title>
      <div *ngIf="isHotelManager() || isProjectmanager()" class="ms-auto">
        <button mat-raised-button (click)="openDialog()">Ajouter</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Mia"
          #input
        />
      </mat-form-field>
    </div>

    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom && Prenom</th>
        <td mat-cell *matCellDef="let row">
          {{ row.lastName }} {{ row.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let row">{{ row.role }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          class="text-center"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Actions
        </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="isHotelManager() || isProjectmanager()" class="d-flex">
            <button (click)="updateUser(row)" mat-button color="accent">
              Edit
            </button>
            <button
              *ngIf="isHotelManager() || isProjectmanager()"
              (click)="openDialogDelete(row)"
              mat-button
              color="warn"
            >
              Delete
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      class="mat-elevation-z8"
      [pageSizeOptions]="[10, 25, 50, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
