
  /*=========== breadcrumb_area css =============*/
  .breadcrumb_area {
    height: 50%;
  }
  
  .breadcrumb_area .bg-parallax {
    background: url("https://img.freepik.com/photos-gratuite/connecter-concept-communication-appel-entrant_53876-125112.jpg?w=1380&t=st=1669654495~exp=1669655095~hmac=e8db2aca2466fe4ea0262a6681a970709fb680cdf051181781673a08c329a4ea") no-repeat scroll center 0/cover;
    opacity: 0.50;
    z-index: -1;
    
  }
  
  .page-cover-tittle {
    padding-top: 4%;
  }
  