<!-- Modal -->
<div class="modal fade" id="staticBackdropReset" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropReset" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <form action="">
                <div class="container">
                    <div class="row pt-3">
                        <button mat-mini-fab color="warn" class="ms-auto mx-4" data-bs-dismiss="modal"
                            aria-label="Close">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <h2 class="text-dark">Inscrivez-vous à Paradis hôtel</h2>
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nom utilisateur / E-mail</mat-label>
                            <input matInput placeholder="exp : aubembali@gmail.com" required>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>
                    </p>

                    <button type="submit" mat-raised-button class="bg-yellow text-white w-100">Réinitialiser le mot de passe</button>
                </div>

            </form>
        </div>
    </div>
</div>