<section class="banner_area">
  <div class="booking_table d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
      <div class="banner_content text-center justify-content-center  ">
        <span class="fs-6 mb-4">L'offre se termine dans 10 jours</span>
        <h1><span class="h2"> Hôte Paradis</span> <br> <span class="d-none d-md-block d-lg-block ">vous sauhaite la
            bienvenue.</span></h1>
        <p>Économisez 30 % ou plus avec Offres du Black Friday</p>
        <button mat-raised-button color="warn" class="w-50 d-lg-none">Reservation</button>
      </div>
    </div>
  </div>
  <div class="hotel_booking_area position ">
    <div class="container">
      <div class="hotel_booking_table d-none d-md-none d-lg-flex ">
        <div class="col-lg-3 col-md-12 col-12 text-center ">
          <h2 class="text-yellow ">Reserver<br> une chambre</h2>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field appearance="fill" class="w-100 ">
                <mat-label class="text-white">Date d'arrivée</mat-label>
                <mat-select disableRipple class="text-white">
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="text-white">Date de départ</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="text-white">Adulte</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="text-white">Enfant</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-12 ">
          <div class="row">
            <div class="col-lg-12 mx-4 mb-2">
              <mat-form-field appearance="fill" class="p-0 w-100 ">
                <mat-label class="text-white">Chambre</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button class="w-100 pt-2 mb-3 bg-red text-white ">Reservation</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mt-5">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-12 mt-5">
        <div class="d-flex">
          <span>
            <mat-icon class="text-yellow">star</mat-icon>
          </span>
          <span>
            <mat-icon class="text-yellow">star</mat-icon>
          </span>
          <span>
            <mat-icon class="text-yellow">star</mat-icon>
          </span>
          <span>
            <mat-icon class="text-yellow">star</mat-icon>
          </span>
          <span>
            <mat-icon class="text-yellow">star</mat-icon>
          </span>
        </div>
        <p>L'HÔTEL PARADIS</p>
        <h2 class="text-dark h1">
          Expérience de luxe
        </h2>
        <p>
          Bienvenue dans le meilleur hôtel cinq étoiles de luxe d'Abidjan.
          L'élément hôtel seuse le vestibule aucan certains juste dans le sapien rutrum volutpat.
          Jusqu'à ce qu'il veuille les enfants. Jusqu'à ce qu'il veuille mettre l'arc sur le blane.
        </p>
        <p>
          L'hôtel est un lieu de nidification et non un élément détestable. Les orcs,
          nés avec des plumes et de grosses pousses, donneront naissance à une souris ridicule née sur la montagne,
          et ils habiteront dans la maladie.
        </p>
        <p class="fs-6">
          <mat-icon class="text-yellow">perm_phone_msg</mat-icon>
          Réservation <br>
          <a href="tel:2250748753781" target="_blank" rel="noopener noreferrer"
            class="text-yellow fw-bold">2250748753781</a>
        </p>
      </div>

      <div class="col-lg-6 col-md-6 col-12 mt-5">
        <swiper 
            [slidesPerView]="1" 
            [spaceBetween]="10" 
            [navigation]="true" 
            [loop]="true" 
            [autoplay]="{
            delay: 2500,
            disableOnInteraction: false
          }" [pagination]="{ clickable: true }">
          <ng-template swiperSlide>
            <img src="https://themeydanhotel.com/sites/default/files/2018-08/ROOM.jpg" />
          </ng-template>
          <ng-template swiperSlide>
            <img
              src="https://www.bulgarihotels.com/.imaging/bhr-standard-small-jpg/dam/DUBAI/Spa-and-Fitness/the-bulgari-spa-1.jpg/jcr%3Acontent" />
          </ng-template>
          <ng-template swiperSlide>
            <img src="https://www.regaltoursuae.com/wp-content/uploads/2020/12/hotel-apartments-in-dubai02.jpg" />
          </ng-template>
          <ng-template swiperSlide>
            <img
              src="https://dbz-images.dubizzle.com/images/2022/10/27/6b4fa015f2f04f37aa8d05738d8abf7c-DUBIZZLESANDBOX.jpeg?imwidth=800" />
          </ng-template>
          <ng-template swiperSlide>
            <img src="https://media-cdn.tripadvisor.com/media/vr-splice-j/06/15/33/22.jpg" />
          </ng-template>
          <ng-template swiperSlide>
            <img src="https://santorinidave.com/wp-content/uploads/2020/12/dubai-5-star-beach-resort.jpeg" />
          </ng-template>
        </swiper>

      </div>
    </div>
  </div>
</section>

<section class="mt-25 bg-secondary py-5" id="differencePrice">
  <div class="container ">
    <h2 class="text-dark text-center h1">Nos differents prix</h2>
    <div class="row">
      <swiper 
            [slidesPerGroup]="1"
            [centeredSlides] ="true"
            [loop]= true
            [pagination]="{
            clickable: true}" 
            [navigation]="true" class="mySwiper"
            [breakpoints]="{
              '640': {
                slidesPerView: 2,
                spaceBetween: 20
              },
              '768': {
                slidesPerView: 4,
                spaceBetween: 40
              },
              '1024': {
                slidesPerView: 5,
                spaceBetween: 25
              }
            }"

            >

        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/2022/05/Hotelchamp-Expert-Partner-320x202.png" class="rounded m-3" alt="">
        </ng-template>

        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/2022/05/Roomdex-Expert-Partner-320x202.png" class="rounded m-3" alt="">
        </ng-template>
        
        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/2022/05/The-Hotels-Network-Expert-Partner-320x202.png" class="rounded m-3"
            alt="">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/2022/11/Cloudbeds-Expert-Partner-320x202.png" class="rounded m-3" alt="">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/2022/05/The-Hotels-Network-Expert-Partner-320x202.png" class="rounded m-3"
            alt="">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/Atomize-Expert-Partner-320x202.png" alt="" class="rounded m-3">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/2022/11/RTFG-Expert-Partner-v2-320x202.png" class="rounded m-3" alt="">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://www.revfine.com/wp-content/uploads/2022/05/Roomdex-Expert-Partner-320x202.png" class="rounded m-3" alt="">
        </ng-template>
      </swiper>
    </div>
  </div>
</section>





<section class="mt-25 py-5" id="romeSuite" style="
  background-image: url(https://zcube.in/riorelax/img/bg/testimonial-bg.png);
  background-size: cover;background-attachment: fixed;">
  <div class="container ">
    <h2 class="text-dark text-center h1">Chambres & Suites</h2>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-6">
        <div class="test-card">
       
            <img class="text-card-img" src="https://www.bulgarihotels.com/.imaging/bhr-standard-small-jpg/dam/DUBAI/Spa-and-Fitness/the-bulgari-spa-1.jpg/jcr%3Acontent" /> 
          
          <div class="test-card-content">
            <p>Detail</p>
            <hr>
            <div class="test-card-hidden-icon">
              <span class="icon">1</span>
              <span class="icon">2</span>
              <span class="icon">3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="rooms1 section-padding bg-cream" data-scroll-index="1">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-subtitle">The Cappa Luxury Hotel</div>
              <div class="section-title">Rooms &amp; Suites</div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="item">
                  <div class="position-re o-hidden"> <img src="https://duruthemes.com/demo/html/cappa/demo7/img/rooms/1.jpg" alt=""> </div> <span class="category"><a href="#">Book</a></span>
                  <div class="con">
                      <h6><a href="room-details.html">150$ / Night</a></h6>
                      <h5><a href="room-details.html">Junior Suite</a> </h5>
                      <div class="line"></div>
                      <div class="row facilities">
                          <div class="col col-md-7">
                              <ul>
                                  <li><i class="flaticon-bed"></i></li>
                                  <li><i class="flaticon-bath"></i></li>
                                  <li><i class="flaticon-breakfast"></i></li>
                                  <li><i class="flaticon-towel"></i></li>
                              </ul>
                          </div>
                          <div class="col col-md-5 text-right">
                              <div class="permalink"><a href="room-details.html">Details <i class="ti-arrow-right"></i></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="item">
                  <div class="position-re o-hidden"> <img src="https://duruthemes.com/demo/html/cappa/demo7/img/rooms/2.jpg" alt=""> </div> <span class="category"><a href="rooms2.html">Book</a></span>
                  <div class="con">
                      <h6><a href="room-details.html">200$ / Night</a></h6>
                      <h5><a href="room-details.html">Family Room</a></h5>
                      <div class="line"></div>
                      <div class="row facilities">
                          <div class="col col-md-7">
                              <ul>
                                  <li><i class="flaticon-bed"></i></li>
                                  <li><i class="flaticon-bath"></i></li>
                                  <li><i class="flaticon-breakfast"></i></li>
                                  <li><i class="flaticon-towel"></i></li>
                              </ul>
                          </div>
                          <div class="col col-md-5 text-right">
                              <div class="permalink"><a href="room-details.html">Details <i class="ti-arrow-right"></i></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="item">
                  <div class="position-re o-hidden"> <img src="https://duruthemes.com/demo/html/cappa/demo7/img/rooms/3.jpg" alt=""> </div> <span class="category"><a href="rooms2.html">Book</a></span>
                  <div class="con">
                      <h6><a href="room-details.html">250$ / Night</a></h6>
                      <h5><a href="room-details.html">Double Room</a></h5>
                      <div class="line"></div>
                      <div class="row facilities">
                          <div class="col col-md-7">
                              <ul>
                                  <li><i class="flaticon-bed"></i></li>
                                  <li><i class="flaticon-bath"></i></li>
                                  <li><i class="flaticon-breakfast"></i></li>
                                  <li><i class="flaticon-towel"></i></li>
                              </ul>
                          </div>
                          <div class="col col-md-5 text-right">
                              <div class="permalink"><a href="room-details.html">Details <i class="ti-arrow-right"></i></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="item">
                  <div class="position-re o-hidden"> <img src="https://duruthemes.com/demo/html/cappa/demo7/img/rooms/4.jpg" alt=""> </div> <span class="category"><a href="rooms2.html">Book</a></span>
                  <div class="con">
                      <h6><a href="room-details.html">300$ / Night</a></h6>
                      <h5><a href="room-details.html">Deluxe Room</a></h5>
                      <div class="line"></div>
                      <div class="row facilities">
                          <div class="col col-md-7">
                              <ul>
                                  <li><i class="flaticon-bed"></i></li>
                                  <li><i class="flaticon-bath"></i></li>
                                  <li><i class="flaticon-breakfast"></i></li>
                                  <li><i class="flaticon-towel"></i></li>
                              </ul>
                          </div>
                          <div class="col col-md-5 text-right">
                              <div class="permalink"><a href="room-details.html">Details <i class="ti-arrow-right"></i></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="item">
                  <div class="position-re o-hidden"> <img src="https://duruthemes.com/demo/html/cappa/demo7/img/rooms/7.jpg" alt=""> </div> <span class="category"><a href="rooms2.html">Book</a></span>
                  <div class="con">
                      <h6><a href="room-details.html">150$ / Night</a></h6>
                      <h5><a href="room-details.html">Superior Room</a></h5>
                      <div class="line"></div>
                      <div class="row facilities">
                          <div class="col col-md-7">
                              <ul>
                                  <li><i class="flaticon-bed"></i></li>
                                  <li><i class="flaticon-bath"></i></li>
                                  <li><i class="flaticon-breakfast"></i></li>
                                  <li><i class="flaticon-towel"></i></li>
                              </ul>
                          </div>
                          <div class="col col-md-5 text-right">
                              <div class="permalink"><a href="room-details.html">Details <i class="ti-arrow-right"></i></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section style="margin-top: 25rem;">
dsfdfdfd</section>
<br>
<br>
<br>

<br>
<br>
<br>