<h1 mat-dialog-title>{{ editMode ? "Modifier" : "Ajouter" }} un utilisateur</h1>
<form class="example-form" [formGroup]="form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Prenom</mat-label>
          <input
            type="text"
            formControlName="firstName"
            name="firstName"
            matInput
            placeholder="Prenom"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input
            type="text"
            name="lastName"
            formControlName="lastName"
            matInput
            placeholder="Nom"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        formControlName="email"
        name="email"
        matInput
        placeholder="Ex. pat@example.com"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <input
        type="tel"
        name="phone"
        formControlName="phone"
        matInput
        placeholder="2250584108716"
      />
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Profil</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let profil of profils" [value]="profil.value">
          {{ profil.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      {{ editMode ? "Modifier" : "Creer" }}
    </button>
  </div>
</form>
