.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  bottom: 0;
  z-index: -1;
}
/*=========== breadcrumb_area css =============*/

.breadcrumb_area .bg-parallax {
  background: url("https://img.freepik.com/free-photo/new-clean-luxury-restaurant-european-style-amara-dolce-vita-luxury-hotel-resort-tekirova-kemer-turkey_146671-18744.jpg?w=1380&t=st=1669368539~exp=1669369139~hmac=dbcbf4a4b94c6a61db4151f0cd2a88ba824116d13f5060b1287817fc4df3a6c5") no-repeat scroll center 0/cover;
  opacity: 0.50;
  z-index: -1;
}

.page-cover-tittle {
  padding-top: 4%;
}
