
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" ></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle h1">Restaurant</h2>
            <ol class="breadcrumb">
                <li><a routerLink="/" class="text-decoration-none">Home</a></li>
                <li class="active">Restaurant</li>
            </ol>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container mt-5">
        <div class="row">
            <p class="fs-6">
                Savourez un petit-déjeuner buffet copieux pour bien commencer la journée. 
                Vous pouvez choisir parmi une variété de pâtisseries, de la charcuterie et des fromages, 
                des fruits et des plats chauds préparés à la demande.
                Avec son mobilier design et sa grande sélection de vins, le Verziere, le restaurant de l'hôtel, 
                est l'endroit idéal pour goûter une cuisine méditerranéenne et internationale.
                Pour vos repas légers, optez pour les saveurs traditionnelles de notre terroir 
                dans une réinterprétation raffinée de la spécialité locale au bar Panhini.
            </p>
        </div>
    </div>
</section>

<section >
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <h2 class="h1">Petit-déjeuner</h2>
                <p>
                    Préparé chaque matin pour une fraîcheur irréprochable, 
                    le petit-déjeuner buffet de l'hôtel vous permet de commencer la journée sur une note saine et équilibrée. 
                    Notre petit-déjeuner buffet comprend un vaste choix de jus de fruits frais, de pâtisseries et viennoiseries, 
                    de charcuterie, de fromages, de fruits, de yaourts, de pains et bien d’autres choses encore... 
                    Vous pouvez également commander un plat chaud. Si vous êtes un lève-tôt ou que vous devez quitter l'hôtel avant l'ouverture du buffet, 
                    adressez-vous à la réception pour qu'un petit-déjeuner soit mis à votre disposition plus tôt.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <img src="https://img.nh-hotels.net/vPJ3D/p0ded/original/BB_NH_collection-president_462.jpg?output-quality=70&resize=555:*&composite-to=center,center|555:280&background-color=white" class="rounded w-100" alt="" srcset="">
            </div>
        </div>
    </div>
</section>


<section class="bg-secondary py-5 my-5">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12" data-aos="fade-up" data-aos-duration="3000">
                <img src="https://img.nh-hotels.net/vPJ3D/qNdPR/original/RT2_NH_collection-president_472.jpg?output-quality=70&resize=555:*&composite-to=center,center|555:280&background-color=white" class="rounded w-100" alt="" srcset="">
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <h2 class="h1">Restaurant Verziere</h2>
                <p data-aos="fade-up" data-aos-duration="3000">
                    Verziere, le restaurant de l'hôtel, propose une cuisine d'une grande finesse et une élégante présentation. 
                    Le mobilier design ajoute une touche élégante à l’atmosphère à la mode. 
                    Choisissez le vin idéal dans notre carte des vins complète pour accompagner votre repas. 
                    Le Verziere sert des plats milanais typiques ainsi qu’une excellente sélection des cuisines italiennes et internationales. 
                    Ce restaurant propose tous les jours un généreux petit-déjeuner buffet pour bien commencer la journée.
                </p>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container mt-5">
        <div class="row">
           
            <div class="col-lg-6 col-md-12 col-12">
                <h2 class="h1">Bar Panhini</h2>
                <p data-aos="fade-up" data-aos-duration="3000">
                    Panhini, le tout nouveau bar de l'hôtel NH Collection Milano President, est l'endroit idéal pour vous détendre, déguster un déjeuner léger et expérimenter de nouvelles saveurs. Faites votre choix parmi un vaste choix de paninis traditionnels, revisités avec une touche de raffinement et de sophistication. À la carte figurent même trois propositions exceptionnelles des chefs Paco Roncero, Óscar Velasco et Chris Naylor, étoilés au guide Michelin.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-12" data-aos="fade-up" data-aos-duration="3000">
                <img src="https://img.nh-hotels.net/vPJ3D/d9W0p/original/GST2_NH_collection-president_485.jpg?output-quality=70&resize=555:*&composite-to=center,center|555:280&background-color=white" class="rounded w-100" alt="" srcset="">
            </div>
        </div>
    </div>
</section>



<section class="bg-secondary py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12" data-aos="fade-up" data-aos-duration="3000">
                <img src="https://img.nh-hotels.net/vPJ3D/gedlO/original/B_NH_collection-president_508.jpg?output-quality=70&resize=555:*&composite-to=center,center|555:280&background-color=white" class="rounded w-100" alt="" srcset="">
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <h2 class="h1">Bar Le Colonne</h2>
                <p data-aos="fade-up" data-aos-duration="3000">
                    Panhini, le tout nouveau bar de l'hôtel NH Collection Milano President, est l'endroit idéal pour vous détendre, déguster un déjeuner léger et expérimenter de nouvelles saveurs. Faites votre choix parmi un vaste choix de paninis traditionnels, revisités avec une touche de raffinement et de sophistication. À la carte figurent même trois propositions exceptionnelles des chefs Paco Roncero, Óscar Velasco et Chris Naylor, étoilés au guide Michelin.
                </p>

            </div>
           
        </div>
    </div>
</section>
