<footer class="" id="footer">
    <div class="text-white py-5" style="background-color:#222222 ;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div >
                        <h3 >Apropos Hôte <span class="text-yellow">Paradis</span></h3>
                        <p >Welcome to the best five-star deluxe hotel in New York. Hotel elementum sesue the aucan vestibulum aliquam justo in sapien rutrum volutpat.</p>

                        <div > <i class="lni ti-world"></i>
                            <select onchange="location = this.value;">
                                <option value="">English</option>
                                <option value="">German</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1 ">
                    <div >
                        <h3 >Explore</h3>
                        <ul >
                            <li><a href="#" class="text-decoration-none text-yellow">Home</a></li>
                            <li><a href="#" class="text-decoration-none text-yellow">Chambres &amp; Suites</a></li>
                            <li><a href="#" class="text-decoration-none text-yellow">Restaurant</a></li>
                            <li><a href="#" class="text-decoration-none text-yellow">SPA & BIEN-ÊTRE</a></li>
                            <li><a href="#" class="text-decoration-none text-yellow">Reservation</a></li>
                            <li><a href="#" class="text-decoration-none text-yellow">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3 >Contact</h3>
                        <p >1616 Broadway NY, New York 10001<br>United States of America</p>
                        <div >
                            <p ><span class="flaticon-call"></span> 855 100 4444</p>
                            <p class="text-decoration-underline text-yellow">info@hotelparadis.com</p>
                        </div>
                        <div class="text-yellow">
                            <a href="#"><i class="ti-instagram"></i></a>
                            <a href="#"><i class="ti-twitter"></i></a>
                            <a href="#"><i class="ti-youtube"></i></a>
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark  text-white py-4 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div >
                        <p >© Copyright 2022 by <a href="#">DuruThemes.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>