<div class="container">
  <div class="row mt-5">
    <div class="d-flex">
      <mat-card-title>Reservations</mat-card-title>
      <div class="ms-auto"></div>
    </div>
  </div>

  <div class="row">
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Mia"
          #input
        />
      </mat-form-field>
    </div>

    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date d'entrer</th>
        <td mat-cell *matCellDef="let row">{{ row.dateStart }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="dateEnd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de sorti</th>
        <td mat-cell *matCellDef="let row">{{ row.dateEnd }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.status === 'validated'" class="validated span">
            {{ row.status }}
          </span>

          <span *ngIf="row.status === 'rejected'" class="rejected span">
            {{ row.status }}
          </span>

          <span *ngIf="row.status === 'pending'" class="pending span">
            {{ row.status }}
          </span>
        </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            [disabled]="row.status != 'pending'"
            (click)="openDialog(row)"
            mat-button
            color="primary"
            *ngIf="isHotelReservationsManager()"
          >
            Details
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      class="mat-elevation-z8"
      [pageSizeOptions]="[10, 25, 50, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
